# IDE
.idea/

# Development database
*.sqlite3

# Python environment
venv/

# compiled python files
*.pyc

# statically hosted files
**/static/portfolio/downloads/
**/static/portfolio/video/

# secrets
*_secrets.*

# ephemeral files
**/uploads/*