{% extends "portfolio/base_generic.html" %}
{% load static %}
{% block title %}Joe Polygon{% endblock %}
{% block styles %}
  <link rel="stylesheet" href="{% static "portfolio/css/index.css" %}" type="text/css">
{% endblock %}
{% block content %}
<div id="SectionContainer">
  <!-- <h1>cat ~/projects/*</h1> <!-- Excessively clever. -->
  <h1>Fresh Baked Projects</h1>
  <p>Now gluten free!</p>
  {% for section in sections %}<section id="{{section.name}}">
    <h3>{{section.name}}</h3>{% for article in section.articles %}<article>

      {% if article.absolute_path %}<a href="{{article.path}}">
      {% else %}<a href="{% url 'portfolio:article' article.path %}">
      {% endif %}<img src="{% static article.image %}">
      <h4>{{article.name}}</h4></a></article>{% endfor %}
  </section>
  {% endfor %}
  <div class="endFloat">&nbsp;</div>
</div>
{% endblock %}